{{/* -*- engine: go -*- */}}
<div class='post {{ partial "mf2/event.mf" . }}'>
    <h1 class="post-title">
        {{ with .Params.event.icon }}
        <img src="{{ $.Site.BaseURL }}{{ . }}" />
        {{ end }}
        <a class='{{ partial "mf2/name.mf" . }}' href="{{ .Permalink }}">{{ .Params.event.name }}</a>
        [{{ dateFormat "January 2 2006" .Params.event.start }}]
    </h1>
    <div class='post-content p-summary'>{{ .Params.event.summary | markdownify }}</div>
    <ul>
        <li>
            <span class='{{ partial "mf2/start.mf" . }}'>
                <time class="post-date value">
                    {{ dateFormat "Mon, 2 January 2006 15:04 MST -07" .Params.event.start }}
                </time>
            </span>
            ...
            <span class='{{ partial "mf2/end.mf" . }}'>
                <time class="post-date value">
                    {{/* only display month/day again if start and end are on different days */}}
                    {{ if (ne (dateFormat "20060102" .Params.event.start) (dateFormat "20060102" .Params.event.end))  }}
                    {{   dateFormat "Mon, 2 January 2006 " .Params.event.end  }}
                    {{ end }}
                    {{ dateFormat "15:04  MST -07" .Params.event.end  }}
                </time>
            </span>
        {{ with .Params.event.schedule }}
            <ul>
                {{ range $timeblock := . }}
                <li>
                    <time class="post-date value">
                        {{ dateFormat "3:04" $timeblock.start  }} to {{ dateFormat "3:04" $timeblock.end  }}
                    </time>
                    {{ $timeblock.description  }}
                </li>
                {{ end }}
            </ul>
        </li>
        {{ end }}
        <li>
            {{ if .Params.event.organizer }}
            <span>
            {{- if (gt .Params.event.organizer 1) -}}
            {{-   pluralize "organizer" -}}
            {{- else -}}
            organizer
            {{- end -}}:
            {{-  range $organizerKey := .Params.event.organizer -}}
            {{-     range $organizerData := $.Site.Data.author }}
            {{-       if eq $organizerData.uuid $organizerKey }}
            {{-         partial "author.html" $organizerData }}
            {{-       end }}
            {{-     end }}
            {{-  end }}
            </span>
            {{ end }}
        </li>
    <li>
    {{ if .Params.event.location }}
    {{   range $locationKey := first 1 .Params.event.location -}}
    {{     range $locationData := $.Site.Data.location }}
    {{       if eq $locationData.uuid $locationKey }}
    {{         partial "location.html" $locationData }}
    {{       end }}
    {{     end }}
    {{-  end }}
    {{ else }}
    No location
    {{ end }}
    </li>
    {{ "<!-- invites go here -->" | safeHTML }}
    {{ if .Params.event.invite }}
    <span>
        Invitees:
        <ul>
            {{-  range $inviteeKey := .Params.event.invite -}}
            {{-     range $inviteeData := $.Site.Data.author }}
            {{-       if eq $inviteeData.uuid $inviteeKey }}
            <li>{{-         partial "invitee.html" $inviteeData }}</li>
            {{-       end }}
            {{-     end }}
            {{-  end }}
        </ul>
    </span>
    {{ end }}
    </ul>
    {{ "<!-- webmentions go here -->" | safeHTML }}
    {{ with .Scratch.Get "Webmentions" }}
    <div class="webmention">
        <h2 class="response-title">Responses</h2>    
        {{ range .children }}
        {{   partial "card.html" . }} says <a href='{{ index . "wm-source" }}'>{{ .rsvp }}</a>
        {{ end }}
    </div>
    {{ end }}
    {{ .Content }}
</div>
